@media (max-width: 1200px) {

  * {
    box-sizing:border-box;
  }

  body{
    -webkit-text-size-adjust: 100%;
  }
  
  
  
  .box1 {
    /* background-color:red; */
    width:100%;
    height:500px;
    /* background-image: url(file:///Users/shunki/Desktop/MyPortforio/ホームページ写真/17.jpg); */
    background-image: url('./17.JPG');
    background-size:cover;
    color:white;
    text-align:center;
  }
  
  .box1 h1 {
    padding-top:150px;
    font-size:100px;
  }
  
  /* ここからメニュー */

  .bar {
    width:150px;
    height:120px;
    top:20px;
    left:810px;
    position:absolute;
    position:fixed;
    display:block;
    z-index:12;
    opacity:0.9;
  }

  .menu {
    background-color:#ffa500;
    width:480px;
    height:750px;
    top:15px;
    left:483px;
    position:absolute;
    border:2px solid black;
    opacity:0.9;
    position:fixed;
    z-index:15;
    display:none;
    border-radius:10px;
  }


  
  .menu li {
    list-style:none;
    padding:20px 45px;
    font-size:40px;
    color:black;
  }

  .batsu {
    width:120px;
    height:120px;
    top:10px;
    left:330px;
    position:absolute;
  }



  /* ここまでメニュー */

  header {
    background-color:#800000;
    width:100%;
    height:60px;
  }
  
  header ul {
    width:2000px;
    display:none;    
  }
  
  header li {
    float:left;
    list-style:none;
    padding:20px 45px;
    font-size:15px;
    color:white;
    display:none;
  }

  .box2 {
    /* background-color:pink; */
    background-color:#ffebcd;
    width:100%;
    height:1600px;
    text-align:center;
    position:relative;
  }

  .box2 h3 {
    font-size:40px;
    padding-top:100px;
  }
  
  .box2 h2 {
    font-size:70px;
    padding-bottom:10px;
    margin:0px 200px;
    border-bottom:2px solid black;
  }
  
  .box2 p {
    font-size:40px;  
  }

  .map {
    width:640px;
    height:260px;
  }

  .box2 .jusho {
    text-align:left;
    padding-left:170px;
    padding-top:60px;
  }

  .box2 .ippun {
    text-align:left;
    padding-left:220px;
    padding-bottom:0px;
  }

  .box2 .inageya {
    text-align:left;
    padding-top:0px;
    padding-left:220px;
    display:none;
  }

  .inage {
    position:absolute;
    width:450px;
    height:450px;
    top:120px;
    left:500px;
    display:none;
  }

  

  .box2 .shosai {
    text-align:left;
    padding-left:220px;
    line-height:60px;
    padding-top:50px;
  }

  .qr {
    position:absolute;
    width:250px;
    height:250px;
    top:1250px;
    left:250px;
  }
  
  .jun {
    position:absolute;
    width:500px;
    height:500px;
    top:1100px;
    left:400px;
  }

  .glass {
    position:absolute;
    width:150px;
    height:150px;
    top:1450px;
    left:730px;
    display:none;
  }

  /* .jun:hover {
    transform:translate(100px, 0);
  } */
  
  
  footer {
    background-color:#ffa500;
    width:100%;
    height:700px;
  }
  
  footer img {
    float:left;
    margin:20px 30px;
    width:100px;
    height:100px;
  }
  
  .info p {
    margin:2px 15px;
    font-size:40px;
  }
  
  .info .name {
    font-size:80px;
    margin:0px 20px;
  }
  
  
  
  
  
  
  
  
  
  
  
  
  }
  